<!-- <form action="/users/add" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="description" placeholder="Description">
    <button type="submit">Add Data</button>
  </form> -->